{{!
@param map additional-object-inhibition
@param map main-object-inhibition
}}

VALUES (?objectProperty     ?outScoreModifier                    ?linkProperty   ?linkScoreModifier) {
       (pc:mainObject       {{main-object-inhibition.out}}       skos:closeMatch 1)
       (pc:mainObject       {{main-object-inhibition.out}}       skos:related    0.1)
       (pc:additionalObject {{additional-object-inhibition.out}} skos:closeMatch 1) 
       (pc:additionalObject {{additional-object-inhibition.out}} skos:related    0.1) 
}
