{{!
@param IRI contract
@param IRI graph
@param int limit
@param int offset (optional)

There's no point in computing maximum score for each ?match, since all scores are equal to 1.
}}

{{> templates/prefixes.mustache}}

SELECT DISTINCT ?match
WHERE {
  {
    SELECT ?cpvObject
    WHERE {
      GRAPH <{{graph}}> {
        [] pc:lot <{{contract}}> ;
          pc:mainObject/skos:closeMatch ?cpvObject .
      }
    }
  }
  GRAPH <{{graph}}> {
    ?contract pc:mainObject/skos:closeMatch ?cpvObject ;
      pc:lot/pc:awardedTender/pc:bidder ?match . 
  }
}
LIMIT {{limit}}
{{#offset}}
OFFSET {{offset}}
{{/offset}}
