{{!
@param IRI   contract
@param IRI   graph
@param float inferred-object-inhibition
@param map   query-expansion
}}

{{> templates/prefixes.mustache}}

SELECT ?match (SUM(?inScoreModifier) AS ?score)
WHERE {
  {
    SELECT ?cpv ?inScoreModifier
    WHERE {
      {
        SELECT ?cpvObject (1 AS ?inScoreModifier)
        WHERE {
          GRAPH <{{graph}}> {
            [] pc:lot <{{contract}}> ;
              pc:mainObject/skos:closeMatch ?cpvObject .
          }
        }
      } UNION {
        SELECT ?cpv ({{inferred-object-inhibition}} * ?idf AS ?inScoreModifier)
        WHERE {
          GRAPH <{{graph}}> {
            [] pc:lot <{{contract}}> ;
              pc:mainObject/skos:closeMatch ?_cpvObject .
          }
          GRAPH <http://linked.opendata.cz/resource/concept-scheme/cpv-2008> {
            ?_cpvObject skos:narrowerTransitive{1,{{query-expansion.hops-to-narrower}}} ?cpvObject .
          }
          GRAPH <http://linked.opendata.cz/resource/concept-scheme/cpv-2008/idf> {
            ?cpvObject ex:idf ?idf .
          }
        }
      } 
    }
  }
  GRAPH <{{graph}}> {
    ?contract pc:mainObject/skos:closeMatch ?cpvObject ;
      pc:lot/pc:awardedTender/pc:bidder ?match . 
  }
}
GROUP BY ?match
ORDER BY DESC(?score)
LIMIT {{limit}}
{{#offset}}
OFFSET {{offset}}
{{/offset}}
