{{!
@param IRI graph
@param int limit
}}

{{> templates/prefixes.mustache}}

SELECT ?match 
WHERE {
  GRAPH <{{graph}}> {
    ?contract pc:lot/pc:awardedTender/pc:bidder ?match . 
  }
}
GROUP BY ?match
ORDER BY DESC(COUNT(DISTINCT ?contract))
LIMIT {{limit}}
