{{!
@param IRI graph
@param int limit
}}

{{> templates/prefixes.mustache}}

SELECT DISTINCT ?match 
WHERE {
  GRAPH <{{graph}}> {
    [] pc:bidder ?match . 
  }
}
ORDER BY DESC(<LONG::IRI_RANK>(?match))
LIMIT {{limit}}
