PREFIX adms:      <http://www.w3.org/ns/adms#>
PREFIX dcterms:   <http://purl.org/dc/terms/>
PREFIX dimension: <http://linked.opendata.cz/ontology/zindex.cz/dimension/>
PREFIX ex:        <http://example.com/>
PREFIX isvz:      <http://linked.opendata.cz/ontology/isvz.cz/>
PREFIX measure:   <http://linked.opendata.cz/ontology/zindex.cz/measure/>
PREFIX pc:        <http://purl.org/procurement/public-contracts#>
PREFIX pccz:      <http://purl.org/procurement/public-contracts-czech#>
PREFIX proctypes: <http://purl.org/procurement/public-contracts-procedure-types#>
PREFIX rdf:       <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:      <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rov:       <http://www.w3.org/ns/regorg#>
PREFIX schema:    <http://schema.org/>
PREFIX skos:      <http://www.w3.org/2004/02/skos/core#>
PREFIX xsd:       <http://www.w3.org/2001/XMLSchema#>
